#box1{
    width: 400px;
    height:  400px;
    border: 5px solid black;
    display: inline-block;
    border-radius: 10%;
    
}
#img1{
    width: 100px;
    float: left;
    
}
#box2{
    width: 400px;
    height:  400px;
    border: 5px solid black;
    float: right;
    border-radius: 10%;
}
#img2{
    width: 100px;
    float: left;
    
}
#box1:hover{
    scale: 1.1;
    background-color: aqua;
}
#box2:hover{
    scale: 1.1;
    background-color: aqua;
}
footer{
    border: 2px solid black;
    text-align: center;
    
    
    
}
